# VS Code
.vscode/

# Azure Functions localsettings file
local.settings.json

# .NET build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# any .zip left hanging around from uploading frontend files to Twitch
*.zip

# compiled node/angular output
dist/
tmp/
out-tsc/

# dependencies
node_modules/

# misc
AoE2\ Community\ Games.json
submission_blurb.txt
templates/parameters.json